<!--
-+--------------------------------------------------
-| PC 端
-| 后台管理 > 权限规则 > 添加、修改
-+--------------------------------------------------
-->
<div id="app" v-loading="is_loading_html" v-cloak>
    <el-form class="padding_20" label-width="100px" @submit.native.prevent>
        <el-form-item label="层级">
            <el-select v-model="main_detail.first_role_rule_id" @change="main_detail.second_role_rule_id = 0">
                <el-option v-for="role_rule in role_rule_pass_option" v-if="role_rule.level === 1" :label="role_rule.role_rule_name" :value="role_rule.id"></el-option>
            </el-select>
            <el-select v-model="main_detail.second_role_rule_id">
                <el-option v-for="role_rule in role_rule_pass_option" v-if="(role_rule.id === 0) || ((role_rule.level === 2) && (role_rule.parent_id === main_detail.first_role_rule_id))" :label="role_rule.role_rule_name" :value="role_rule.id"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="权限规则" :required="true">
            <el-input placeholder="请输入权限规则" maxlength="20" show-word-limit="true" clearable="true" v-model="main_detail.role_rule_name"></el-input>
        </el-form-item>
        <el-form-item label="模块地址">
            <el-input placeholder="请输入模块地址" maxlength="100" show-word-limit="true" clearable="true" v-model="main_detail.module_url"></el-input>
        </el-form-item>
        <el-form-item label="Api 地址">
            <el-input placeholder="请输入 Api 地址" maxlength="100" show-word-limit="true" clearable="true" v-model="main_detail.api_url"></el-input>
        </el-form-item>
        <el-form-item label="排序" :required="true">
            <el-input-number placeholder="排序值" precision="0" :min="1" v-model="main_detail.sort"></el-input-number>
        </el-form-item>
        <el-form-item>
            <el-switch active-text="审核" v-model="main_detail.is_pass"></el-switch>
        </el-form-item>

        <div class="pc_bottom_button_bar">
            {:close_button()}
            {:admin_save_data_button()}
        </div>
    </el-form>
</div>

<script src="/static/renhe-ui/data/role_rule_data.js"></script>
<script>
    let vue_param = {
        data() {
            return {
                main_detail: role_rule_data.get_any_detail('{$id}'),
                role_rule_pass_option: role_rule_data.get_{$app_enum_type}_app_pass_option()
            }
        },
        watch: {
            is_init_data() {
                //app_enum_number 赋值
                if (this.main_detail.id === 0) {
                    this.main_detail.app_enum_number = app_enum.{$app_enum_type}['enum_number'];
                }
            }
        }
    };

    let vue = new base_vue(vue_param);
</script>