<!--
-+--------------------------------------------------
-| PC 端
-| 站点后台 > 订单 > 列表
-+--------------------------------------------------
-->
<div id="app" v-loading="is_loading_html" v-cloak>
    <el-row class="el-tool-bar">
        <el-col :span="6">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>{{breadcrumb.first_role_rule_name}}</el-breadcrumb-item>
                <el-breadcrumb-item>{{breadcrumb.second_role_rule_name}}</el-breadcrumb-item>
                <el-breadcrumb-item>{{breadcrumb.third_role_rule_name}}</el-breadcrumb-item>
            </el-breadcrumb>
        </el-col>
        <el-col :span="12">
            <el-form @submit.native.prevent>
                <el-row :gutter="5">
                    <el-col span="6.5">
                        <el-date-picker type="date" ref="search_start_time" placeholder="开始时间" size="mini" v-model="search_default_data.start_time"></el-date-picker>
                    </el-col>
                    <el-col span="6.5">
                        <el-date-picker type="date" ref="search_end_time" placeholder="结束时间" size="mini" v-model="search_default_data.end_time"></el-date-picker>
                    </el-col>
                    <el-col span="9">
                        <el-input ref="search_keyword" placeholder="请输入订单号、商品名称、用户名、姓名、电话、地址" size="mini" maxlength="20" show-word-limit="true" clearable="true" v-model="search_default_data.keyword"></el-input>
                    </el-col>
                    <el-col span="2">
                        {:search_data_button()}
                    </el-col>
                </el-row>
            </el-form>
        </el-col>
        <el-col :span="6" class="right_align padding_right_10">
            {:reload_data_button()}
        </el-col>
    </el-row>

    <el-container>
        <el-aside ref="aside_tree" class="width_200 margin_top_5">
            <el-tree ref="search_order_state" node-key="enum_number" default-expand-all="true" highlight-current="true" :check-strictly="false" :expand-on-click-node="false" :data="order_state_enum_tree" @node-click="search_data()"></el-tree>
        </el-aside>
        <el-main class="padding_0">
            <el-table ref="main_table" size="mini" border="true" stripe="true" highlight-current-row="true" cell-class-name="center_align" :max-height="table_max_height" @row-click="click_current_row">
                <el-table-column label="ID" prop="id" width="50"></el-table-column>
                <el-table-column label="用户名" prop="username"></el-table-column>
                <el-table-column label="姓名" prop="realname"></el-table-column>
                <el-table-column label="订单号" prop="order_code"></el-table-column>
                <el-table-column label="收货人" prop="linkman"></el-table-column>
                <el-table-column label="电话" prop="tel"></el-table-column>
                <el-table-column label="省市县"></el-table-column>
                <el-table-column label="详细地址" prop="address"></el-table-column>
                <el-table-column label="快递公司" prop="address"></el-table-column>
                <el-table-column label="快递单号" prop="address"></el-table-column>
                <el-table-column label="商品种类(数)" prop="product_number"></el-table-column>
                <el-table-column label="商品数量" prop="product_number"></el-table-column>
                <el-table-column label="商品金额" prop="product_money"></el-table-column>
                <el-table-column label="优惠类型" prop=""></el-table-column>
                <el-table-column label="优惠金额" prop=""></el-table-column>
                <el-table-column label="运费金额" prop="express_money"></el-table-column>
                <el-table-column label="订单金额" prop="order_money"></el-table-column>
                <el-table-column label="实付金额" prop="pay_money"></el-table-column>
                <el-table-column label="下单时间" prop="create_time"></el-table-column>
                <el-table-column label="付款方式" prop="pay_type"></el-table-column>
                <el-table-column label="付款单号" prop="address"></el-table-column>
                <el-table-column label="付款时间" prop="create_time"></el-table-column>
                <el-table-column label="发货时间" prop="create_time"></el-table-column>
                <el-table-column label="收货时间" prop="create_time"></el-table-column>
                <el-table-column label="退款申请时间" prop="create_time"></el-table-column>
                <el-table-column label="退款确认时间" prop="create_time"></el-table-column>
                <el-table-column label="退款金额" prop="create_time"></el-table-column>
                <el-table-column label="退款说明" prop="create_time"></el-table-column>
                <el-table-column label="状态" prop="state"></el-table-column>
                <el-table-column label="操作" width="180">
                    <template slot-scope="scope">
                        {:site_update_button('95%', '95%')}
                        {:site_delete_data_button()}
                    </template>
                </el-table-column>
            </el-table>

            <div class="pc_table_footer_bar right_align">
                {:page_bar()}
            </div>
        </el-main>
    </el-container>
</div>

<script src="/static/renhe-ui/data/role_rule_data.js"></script>
<script src="/static/renhe-ui/data/order_data.js"></script>
<script src="/static/renhe-ui/data/order_state_enum_data.js"></script>
<script>
    let vue_param = {
        data() {
            return {
                breadcrumb: role_rule_data.get_breadcrumb(),
                main_page: order_data.get_site_any_page(),
                search_default_data: order_data.get_search_default_data(),
                order_state_enum_tree: order_state_enum_data.get_enum_tree()
            }
        },
        watch: {
            is_init_data() {
                setTimeout(() => {
                    this.$refs.search_order_state_id.setCurrentKey(0);
                }, 100);
            }
        }
    };

    let vue = new base_vue(vue_param);
</script>