<!--
-+--------------------------------------------------
-| PC 端
-| 后台管理 > 银行 > 添加、修改
-+--------------------------------------------------
-->
<div id="app" v-loading="is_loading_html" v-cloak>
    <el-form class="padding_20" label-width="100px" @submit.native.prevent>
        <el-form-item label="银行名称" :required="true">
            <el-input placeholder="请输入银行名称" maxlength="20" show-word-limit="true" clearable="true" v-model="main_detail.bank_name"></el-input>
        </el-form-item>
        <el-form-item label="排序" :required="true">
            <el-input-number placeholder="排序值" precision="0" :min="1" v-model="main_detail.sort"></el-input-number>
        </el-form-item>
        <el-form-item>
            <el-switch active-text="审核" v-model="main_detail.is_pass"></el-switch>
        </el-form-item>

        <div class="pc_bottom_button_bar">
            {:close_button()}
            {:admin_save_data_button()}
        </div>
    </el-form>
</div>

<script src="/static/renhe-ui/data/bank_data.js"></script>
<script>
    let vue_param = {
        data() {
            return {
                main_detail: bank_data.get_any_detail('{$id}')
            }
        }
    };

    let vue = new base_vue(vue_param);
</script>