<!--
-+--------------------------------------------------
-| PC 端
-| 站点后台 > 下载 > 添加、修改
-+--------------------------------------------------
-->
<div id="app" v-loading="is_loading_html" v-cloak>
    <el-form class="padding_20" label-width="100px" @submit.native.prevent>
        <el-tabs v-model="tabs_active">
            <el-tab-pane label="内容管理" name="first_tab">
                <el-form-item label="所属分类">
                    <el-select v-model="main_detail.first_download_class_id" @change="main_detail.second_download_class_id = 0">
                        <el-option v-for="download_class in download_class_siter_pass_option" v-if="download_class.level === 1" :label="download_class.download_class_name" :value="download_class.id"></el-option>
                    </el-select>
                    <!--
                    <el-select v-model="main_detail.second_download_class_id">
                        <el-option v-for="download_class in download_class_siter_pass_option" v-if="(download_class.id === 0) || ((download_class.level === 2) && (download_class.parent_id === main_detail.first_download_class_id))" :label="download_class.download_class_name" :value="download_class.id"></el-option>
                    </el-select>
                    -->
                </el-form-item>
                <el-form-item label="下载标题" :required="true">
                    <el-input placeholder="请输入下载标题" maxlength="200" show-word-limit="true" clearable="true" v-model="main_detail.download_name"></el-input>
                </el-form-item>
                <el-form-item label="文件">
                    <el-col :span="19">
                        <el-input placeholder="请输入文件地址" maxlength="200" show-word-limit="true" clearable="true" v-model="main_detail.file_url"></el-input>
                    </el-col>
                    <el-col :span="4">
                        <el-upload ref="upload_file_url" action="{:upload_url()}" accept="*" :show-file-list="false" :disabled="is_disabled_upload_button" :before-upload="before_upload" :on-success="upload_file('file_url')">
                            <el-button type="success" class="el-icon-upload" :disabled="is_disabled_upload_button" :loading="is_loading_upload_button">点击上传</el-button>
                        </el-upload>
                    </el-col>
                    <!--                    <el-alert type="warning" title="请上传 jpg、gif、png（RGB 格式）图片，且文件的大小不超过 200K" show-icon="true" :closable="false"></el-alert>-->
                </el-form-item>
                <el-form-item label="文件大小(M)" :required="true">
                    <el-input-number placeholder="请输入文件大小" precision="0" :min="0" v-model="main_detail.file_size"></el-input-number>
                </el-form-item>
                <el-form-item label="下载次数" :required="true">
                    <el-input-number placeholder="请输入下载次数" precision="0" :min="0" v-model="main_detail.download_count"></el-input-number>
                </el-form-item>
                <el-form-item>
                    <el-switch active-text="审核" v-model="main_detail.is_pass"></el-switch>
                    <span class="padding_left_20">
                        <el-switch active-text="推荐" v-model="main_detail.is_commend"></el-switch>
                    </span>
                </el-form-item>
                <el-form-item label="">
                    <el-tabs type="border-card" v-model="tabs_content_active">
                        <el-tab-pane label="内容" name="first_content_tab">
                            <textarea id="content" ref="editor" v-model="main_detail.content"></textarea>
                        </el-tab-pane>
                    </el-tabs>
                </el-form-item>
                <div class="height_50"></div>
            </el-tab-pane>
            <el-tab-pane label="SEO 设置" name="second_tab">
                <el-form-item label="title">
                    <el-input placeholder="请输入 title" maxlength="100" show-word-limit="true" clearable="true" v-model="main_detail.title"></el-input>
                    <el-alert type="warning" title="留空 为 ‘下载标题’" show-icon="true" :closable="false"></el-alert>
                </el-form-item>
                <el-form-item label="keywords">
                    <el-input placeholder="请输入 keywords" maxlength="100" show-word-limit="true" clearable="true" v-model="main_detail.keywords"></el-input>
                </el-form-item>
                <el-form-item label="description">
                    <el-input placeholder="请输入 description" maxlength="100" show-word-limit="true" clearable="true" v-model="main_detail.description"></el-input>
                </el-form-item>
            </el-tab-pane>
        </el-tabs>

        <div class="pc_bottom_button_bar">
            {:close_button()}
            {:site_save_data_button()}
        </div>
    </el-form>
</div>

<script src="/static/renhe-ui/data/download_data.js"></script>
<script src="/static/renhe-ui/data/download_class_data.js"></script>
<script>
    let vue_param = {
        data() {
            return {
                main_detail: download_data.get_site_any_detail('{$id}'),
                download_class_siter_pass_option: download_class_data.get_site_pass_option()
            }
        }
    };

    let vue = new base_vue(vue_param);
</script>