<!--
-+--------------------------------------------------
-| PC 端
-| 站点后台 > 幻灯片 > 添加、修改
-+--------------------------------------------------
-->
<div id="app" v-loading="is_loading_html" v-cloak>
    <el-form class="padding_20" label-width="100px" @submit.native.prevent>
        <el-form-item label="公告名称" :required="true">
            <el-input placeholder="请输入公告名称" maxlength="50" show-word-limit="true" clearable="true" v-model="main_detail.notice_name"></el-input>
        </el-form-item>
        <el-form-item label="公告内容" :required="true">
            <el-input type="textarea" placeholder="请输入公告内容" rows="5" maxlength="1000" show-word-limit="true" clearable="true" v-model="main_detail.content"></el-input>
        </el-form-item>
        <el-form-item>
            <el-switch active-text="审核" v-model="main_detail.is_pass"></el-switch>
        </el-form-item>

        <div class="pc_bottom_button_bar">
            {:close_button()}
            {:site_save_data_button()}
        </div>
    </el-form>
</div>

<script src="/static/renhe-ui/data/notice_data.js"></script>
<script>
    let vue_param = {
        data() {
            return {
                main_detail: notice_data.get_site_any_detail('{$id}')
            }
        }
    };

    let vue = new base_vue(vue_param);
</script>